.App {
  text-align: center;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: 2.2em;
  color: white;
}

.App-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  margin: 2em;
}

.App div {
  border: 1px solid black;
  margin: 15px;
}

